$block: 'grid';

.#{$block} {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	&_space-between {
		justify-content: space-between;
	}
	&_center {
		justify-content: center;
	}
	&_nowrap {
		flex-wrap: nowrap;
	}
	&_flex-end {
		align-items: flex-end;
	}
	&_items-center {
		align-items: center;
	}

	@include custom-breakpoint-max($breakpoint-phablet) {
		display: block;
	}

	&_2-columns {
		& > .#{$block}__column {
			width: 100%;
			padding-bottom: 20px;

			@include custom-breakpoint-min($breakpoint-tablet) {
				width: 50%;

				&:nth-child(odd) {
					padding-right: ($grid-gap / 2);
				}
				&:nth-child(even) {
					padding-left: ($grid-gap / 2);
				}
			}
		}
	}
	&_width-auto.#{$block}_2-columns {
		& > .#{$block}__column {
			padding-bottom: 0px;
			
			@include custom-breakpoint-min($breakpoint-tablet) {
				width: auto;
			}
		}
	}
	&_3-columns {
		& > .#{$block}__column {
			width: 100%;

			@include custom-breakpoint-min($breakpoint-phablet) {
				width: 50%;
			}
			@include custom-breakpoint-min($breakpoint-tablet) {
				width: 33.33%;
			}

			&:first-of-type {
				@include custom-breakpoint-min($breakpoint-desktop) {
					padding-right: $grid-gap;
				}
				@include custom-breakpoint-min-max($breakpoint-phablet, $breakpoint-desktop) {
					padding-right: ($grid-gap / 4);
				}
			}
			&:nth-child(2) {
				@include custom-breakpoint-max($breakpoint-phablet) {
					margin: ($grid-gap / 2) 0px;
				}
				@include custom-breakpoint-min($breakpoint-desktop) {
					padding-left: ($grid-gap / 2);
					padding-right: ($grid-gap / 2);
				}
				@include custom-breakpoint-min-max($breakpoint-tablet, $breakpoint-desktop) {
					padding-left: ($grid-gap / 4);
					padding-right: ($grid-gap / 4);
				}
				@include custom-breakpoint-min-max($breakpoint-phablet, $breakpoint-tablet) {
					padding-left: ($grid-gap / 4);
					padding-right: 0px;
				}
			}
			&:last-of-type {
				@include custom-breakpoint-min-max($breakpoint-phablet, $breakpoint-tablet) {
					margin-top: ($grid-gap / 2);
				}
				@include custom-breakpoint-min($breakpoint-desktop) {
					padding-left: $grid-gap;
				}
				@include custom-breakpoint-min-max($breakpoint-tablet, $breakpoint-desktop) {
					padding-left: ($grid-gap / 4);
				}
			}
		}
	}
}