$block: 'grid';

.#{$block} {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	@include custom-breakpoint-max($breakpoint-phablet) {
		display: block;
	}

	&_2-columns {
		& > .#{$block}__column {
			width: 100%;

			@include custom-breakpoint-min($breakpoint-phablet) {
				width: 50%;
			}
		}
	}

	&_3-columns {
		& > .#{$block}__column {
			width: 100%;

			@include custom-breakpoint-min($breakpoint-phablet) {
				width: 50%;
			}
			@include custom-breakpoint-min($breakpoint-tablet) {
				width: 33.33%;
			}
		}
	}
}