$block: 'modal';

.#{$block} {
  position: fixed;
  z-index: 0;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15s linear;
  transition: opacity 0.15s linear, z-index 0.15s linear;
  touch-action: cross-slide-y pinch-zoom double-tap-zoom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &_open {
    opacity: 1;
    z-index: 999;
  }
}
.modal-page {
  overflow: hidden;
}
.js-modal-close {
  cursor: pointer;
}