p#ContactFormIntro
  | Si desea más información, resolver alguna duda o realizar una prueba con MatchTalent, rellene el siguiente formulario:
#ContactFormIntro.contacto__success.text_success(hidden)
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .button()
    a.js-modal-close(href='#') Cerrar

form#ContactForm.contacto__form(method='POST', action='./sendmail.php')
  fieldset
    label(for='formName') Nombre:
    input(type='text',name='formName',id='formName',placeholder='Nombre')
    .error.text_error(data-error-type='ErrorNameShort', data-error-msg='Name is too short.', hidden)
    .error.text_error(data-error-type='ErrorNameEmpty', data-error-msg='Name field is empty, please enter your name.', hidden)
  fieldset
    label(for='formCompany') Empresa:
    input(type='text',name='formCompany',id='formCompany',placeholder='Empresa')
    .error.text_error(data-error-type='ErrorCompanyShort', data-error-msg='Company is too short.', hidden)
    .error.text_error(data-error-type='ErrorCompanyEmpty', data-error-msg='Company field is empty, please enter name of your company.', hidden)
  fieldset
    label(for='formPhoneNumber') Teléfono:
    input(type='number',name='formPhoneNumber',id='formPhoneNumber',placeholder='Teléfono')
    .error.text_error(data-error-type='ErrorPhoneNumberEmpty', data-error-msg='Phone number field is empty, please enter your phone number.', hidden)
    .error.text_error(data-error-type='ErrorPhoneNumberFormat', data-error-msg='Phone number has bad format, please enter decimals only.', hidden)
  fieldset
    label(for='formEmail') Email:
    input(type='email',name='formEmail',id='formEmail',placeholder='Email')
    .error.text_error(data-error-type='ErrorEmailFormat', data-error-msg='Email has bad format.', hidden)
    .error.text_error(data-error-type='ErrorEmailEmpty', data-error-msg='Email field is empty, please enter your email.', hidden)
  fieldset
    label(for='formTextarea') Consulta:
    textarea(cols=40,rows=10,name='formTextarea',id='formTextarea',placeholder='Consulta')
    .error.text_error(data-error-type='ErrorTextShort', data-error-msg='Text is too short.', hidden)
    .error.text_error(data-error-type='ErrorTextEmpty', data-error-msg='Text is empty, please enter your message.', hidden)
  fieldset
    input(type='checkbox',name='formCheckboxConditions',id='formCheckboxConditions')
    label(for='formCheckboxConditions') I accept all conditions...
    .error.text_error(data-error-type='ErrorCheckboxConditions', data-error-msg='You have to apply conditions.', hidden)
  fieldset.clearfix
    img.float-left(src='./captcha.php')
    input#tmptxt.float-left(type='text',name='tmptxt')
    .error.text_error.float-left(data-error-type='ErrorCaptchaWrongCode', data-error-msg='Captcha code is wrong.', hidden)
  button#formButton.button Send

  #results