section.contact-with-us.text_white.text_center
  .inner
    .contact-with-us__text
      | !{COMMON.CONTACTA_CON_NOSOTROS.TEXT}
    .contact-with-us__button.button.button_inverse
      a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{COMMON.SOLICITAR_DEMO}