section.contact-with-us.text_white.text_center
  .inner
    .contact-with-us__text
      | Contacta con nosotros <strong>987&nbsp;654&nbsp;321</strong> o solicita demo:
      .contact-with-us__text_small.text_em.text_small
      | Sin contrato, sin obligación
    .contact-with-us__button.button.button_inverse
      a(href='#modal-prueba-gratuita', data-modal, data-init-form) solicitar demo