#cookies
	.inner
		button#cookies__close.button.button_inverse.float-right Cerrar
		p.text_white
			| Utilizamos cookies propias y de terceros para mejorar su experiencia y nuestros servicios. Si continua navegando, consideramos que aceptas su uso. Puede obtener más información o conocer cómo cambiar la configuración <a href="./cookies.html" class="text_white">aquí.</a>
