footer.footer.text_white
  .inner
    .grid.grid_space-between.grid_nowrap.grid_3-column.footer__grid_3-column
      .logo.footer__logo.grid__column
        +picture('/img/logo_matchtalent.svg')
      .grid__column.footer__links
        h4.footer__links-title.only-phablet
          | MatchTalent <i class="fa fa-angle-down" aria-hidden="true"></i>
        ul.nav.footer__nav
          li.nav__item: a(href='./') Inicio
          li.nav__item: a(href='./ventajas.html') Ventajas
          li.nav__item: a(href='./precios.html') Precios
          li.nav__item: a(href='./portales.html') ​Portales de Empleo
          li.nav__item: a(href='./contacto.html') Contacto
          li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) Prueba gratuita
          li.nav__item.nav__item_highlighted: a(href='tel:987 654 321') Llamar 987 654 321
          li.nav__item: a(href='./cookies.html') Política de cookies
          li.nav__item: a(href='./aviso-legal.html') Aviso legal
      .footer__socialnet.grid__column
        +social-networks({'facebook':'https://www.facebook.com/profile.php?id=100011762462152', 'twitter': 'https://twitter.com/MemorandumSL', 'google-plus':'https://plus.google.com/105176459277512230938'})

    .grid.grid_2-columns.footer__grid_2-column.grid_flex-end
      .footer__copyright.grid__column
        | Copyright &copy; MatchTalent, 2016. <br class="only-phablet" />All Rights Reserved.
      .designby.footer__designby.grid__column
        p.text_xsmall
          | Desarrollado por:
        a(
          href='http://www.memorandum.net'
          target='_blank'
        )
          +picture('/img/logo_memorandum.svg', 'Memorándum Multimedia')