.modal#modal-prueba-gratuita
  .modal__content
    .modal__close(data-modal-close)
      | <i class="fa fa-close" aria-hidden="true"></i>
    p
      | Si desea más información, resolver alguna duda o realizar una prueba con MatchTalent, rellene el siguiente formulario:

    include contact-form.pug