body {
	font-family: $font-primary;
	@include font-size(16);
	font-weight: 500;
	color: $color-main;
	overflow-x: hidden;
	line-height: 1.6em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;

	.menu-open & {
		height: 100%;
    overflow: hidden;
	}
}
.clearfix {
	@include clearfix();
}
a {
	text-decoration: none;
	cursor: pointer;
	color: $link-color;
}
strong {
	font-weight: 700;
}
img {
	max-width: 100%;
}