%basicStyle {
	font-family: $font-primary;
	@include font-size(16);
	font-weight: 500;
	color: $color-main;
	line-height: 1.6em;
	overflow: auto;
}
html {
	height: 100%;
	box-sizing: border-box;
}
body {
	@extend %basicStyle;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}
input, textarea, table {
	@extend %basicStyle;
}
.clearfix {
	@include clearfix();
}
a {
	text-decoration: none;
	cursor: pointer;
	color: $link-color;
}
strong {
	font-weight: 700;
}
img {
	max-width: 100%;
}
label {
	@include font-size(14);
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}