.no-phablet {
	@include custom-breakpoint-max($breakpoint-phablet) {
		display: none !important;
	}
}
.only-phablet {
	display: none;

	@include custom-breakpoint-max($breakpoint-phablet) {
		display: block !important;
	}
}
.no-tablet {
	@include custom-breakpoint-max($breakpoint-tablet) {
		display: none !important;
	}
}
.no-desktop {
	@include custom-breakpoint-max($breakpoint-desktop) {
		display: none !important;
	}
}
.only-desktop {
	display: none;

	@include custom-breakpoint-max($breakpoint-desktop) {
		display: block !important;
	}
}
.only-phablet-landscape {
	display: none;

	@media (max-height: 450px) and (orientation: landscape) {
		display: block !important;
	}
}