$block: 'content';

.#{$block} {
	background: white;
	position: relative;
	//transition: transform .5s;
	//transition-timing-function: cubic-bezier(.7 ,0, .3, 1);
	z-index: 1;

	&.menu-open {
		//transform: translateX(-$mobile-menu-width) translateX(($menu-icon-width * 2)) ;

		@include custom-breakpoint-min($breakpoint-desktop) {
			//transform: translateX(0);
		}
	}
	& > section {
		margin: 30px auto;

		@include custom-breakpoint-min($breakpoint-tablet) {
			margin: 60px auto;
		}
	}
	& > section.remove_margin-top {
		margin-top: 0px;
	}
	& > section.remove_margin-bottom {
		margin-bottom: 0px;
	}
	
}