$block: 'videoconferencia__picture';

.#{$block} {
  text-align: center;

  @include custom-breakpoint-min($breakpoint-phablet) {
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: left;
  }
  @include custom-breakpoint-min($breakpoint-tablet) {
    margin-top: 20px;
  }
  @include custom-breakpoint-min-max($breakpoint-phablet, $breakpoint-tablet) {
    width: 200px;
  }
}