$block: 'our-plans__price';

.#{$block} {
	margin-top: 15px;
	margin-bottom: 1px;
	@include font-size(35);
	font-family: $font-secondary;

	& > a {
		font-size: initial;
		display: inline-block;
		margin-bottom: 26px;
	}

	& > span:nth-last-of-type(-n+1),
	& > span:nth-last-child(2) {
		font-family: $font-primary;
		padding-left: 5px;
	}
	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}