$block: 'plans-include';

.#{$block} {
	&__headline {
		margin-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;

		@include custom-breakpoint-min($breakpoint-desktop) {
	    margin-bottom: 30px;
	  }
	}
	&__title {
		@include font-size(25);
	}
}
.#{$block}__grid_3-columns {
	.grid__column {
		@include grid_3-columns(20px);

		@include custom-breakpoint-max($breakpoint-tablet) {
			padding-bottom: 20px;
		}
		&:last-of-type {
			padding-left: 7.5px;
		}
	}
}
.#{$block} .grid__column,
.#{$block} .grid__column:nth-child(2) {
	margin-top: 0px;
	margin-bottom: 10px;

	@include custom-breakpoint-min($breakpoint-desktop) {
    margin-bottom: 20px;
  }
}
.content > section.#{$block} {
	margin-top: 50px;
}