$block: 'menu-icon';

.#{$block} {
	position: absolute;
	width: $menu-icon-width;
	right: 0px;
	top: calc(50% - 20px);
	height: $menu-icon-width;
	background-color: #fff;
	text-align: center;
	transition: background-color .3s;
	cursor: pointer;
	z-index: 3;

	.menu-icon__content {
		display: inline-block;
		height: 40px;
		position: relative;
		vertical-align: middle;
		width: 22px;

		.menu-icon__line {
			background-color: $color-blue;
			display: block;
			height: 2px;
			width: 100%;
		}
		.menu-icon__line:nth-child(1){
			margin-top: 20px;
			transition: opacity .2s;
		}
		.menu-icon__line:nth-child(2),
		.menu-icon__line:nth-child(3){
			position: absolute;
			transition: transform .3s;
		}
		.menu-icon__line:nth-child(2) {
			transform: translateY(-430%);
		}
		.menu-icon__line:nth-child(3) {
			transform: translateY(230%);
		}
	}
}
.menu-open {
	.#{$block} {
		.#{$block}__line:nth-child(1){
			opacity: 0;
		}
		.#{$block}__line:nth-child(2){
			transform: translateY(-2px) rotate(135deg);
		}
		.#{$block}__line:nth-child(3){
			transform: translateY(-2px) rotate(-135deg);
		}
	}
}