$block: 'header__logo';

.#{$block} {
	position: absolute;
	top: calc(50% - 23px);
	width: $logo-top-width;
	height: 47px;

	@include custom-breakpoint-max($breakpoint-desktop) {
		height: 40px;
		top: calc(50% - 20px);
	}
	.header_fixed & {
		height: 40px;
		top: calc(50% - 20px);
	}
	img {
		height: 100%;
	}
}