$block: 'clients';

.#{$block} {
  .grid {
    @include custom-breakpoint-max($breakpoint-phablet) {
      display: flex;
    }
  }
  background: #f3f3f3;
  color: lighten($color-grey, 30%);
  @include font-size(15);
  padding: 20px 0px;
  margin-bottom: 30px !important;
}