@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: block;
		line-height: 0px;
	}
	&:after {
		clear: both;
	}
}
@function calc-rem($size) {
  @return ($size / 16) * 1rem;
}
@function calc-em($px, $context: $browser-context) {
	@return ($px / $context) * 1em;
}
@mixin font-size($size) {
	font-size: calc-rem($size);
}
@mixin custom-breakpoint-max($max-width) {
	@media (max-width: ($max-width - 1)) { @content ; }
}
@mixin custom-breakpoint-min($min-width) {
	@media (min-width: $min-width) { @content ; }
}
@mixin custom-breakpoint-min-max($min-width, $max-width) {
	@media (min-width: $min-width) and (max-width: ($max-width - 1)) { @content ; }
}
@mixin rotate($value){
	-webkit-transform: rotate($value);
		 -moz-transform: rotate($value);
			-ms-transform: rotate($value);
			 -o-transform: rotate($value);
					transform: rotate($value);
}
@mixin transform($action, $value, $xy:false){
	// Usage - example 1: @include transform(translate, -50%, X);
	// Usage - example 2: @include transform(translate, (-50%, -50%));

	@if($xy){
		-moz-transform: $action + $xy + "(" + $value + ")";
		 -ms-transform: $action + $xy + "(" + $value + ")";
			-o-transform: $action + $xy + "(" + $value + ")";
				 transform: $action + $xy + "(" + $value + ")";
	} @else {
		-moz-transform: $action + "(" + $value + ")";
		 -ms-transform: $action + "(" + $value + ")";
			-o-transform: $action + "(" + $value + ")";
				 transform: $action + "(" + $value + ")";
	}
}
$img-url: 'img';

@mixin bg-image($file, $positionX, $positionY, $size: initial) {
	background-image: url('../#{$img-url}/#{$file}');
	background-repeat: no-repeat;
	background-position: $positionX $positionY;
	background-size: $size;
}

$img-extralarge: 'extralarge';
$img-large: 'large';
$img-medium: 'medium';

@mixin bg-resp-image($file, $positionX, $positionY, $size: initial) {
	background-repeat: no-repeat;
	background-position: $positionX $positionY;
	background-size: $size;
	background-image: url('../#{$img-url}/#{$img-medium}/#{$file}');

	@include custom-breakpoint-min($breakpoint-phablet) {
		background-image: url('../#{$img-url}/#{$img-large}/#{$file}');
	}
	@include custom-breakpoint-min($breakpoint-desktop) {
		background-image: url('../#{$img-url}/#{$img-extralarge}/#{$file}');
	}

}