@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: block;
		line-height: 0px;
	}
	&:after {
		clear: both;
	}
}
@function calc-em($px, $context: $browser-context) {
	@return ($px / $context) * 1em;
}
@mixin font-size($size) {
	font-size: calc-em($size);
}
@mixin custom-breakpoint-max($max-width) {
	@media (max-width: $max-width) { @content ; }
}
@mixin custom-breakpoint-min($min-width) {
	@media (min-width: $min-width) { @content ; }
}
@mixin custom-breakpoint-min-max($min-width, $max-width) {
	@media (min-width: $min-width) and (max-width: ($max-width - 1)) { @content ; }
}