@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: block;
		line-height: 0px;
	}
	&:after {
		clear: both;
	}
}
@mixin custom-breakpoint-max($max-width) {
	@media (max-width: $max-width) { @content ; }
}
@mixin custom-breakpoint-min($min-width) {
	@media (min-width: $min-width) { @content ; }
}
@mixin custom-breakpoint-min-max($min-width, $max-width) {
	@media (min-width: $min-width) and (max-width: $max-width) { @content ; }
}