// Settings of variables, put here every variable that you need to reuse later.

// Fonts
$font-primary: 'opensans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$font-secondary: 'proximanova', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$browser-context: 16;

// Colors
$color-blue: #1a6fb6;
$color-main: #444444;
$color-grey: #4e4e4e;
$link-color: $color-blue;

// Headings
$headings-font: $font-secondary;
$headings-font-color: $color-blue;

// Breakpoints
$breakpoint-phone: 400px;
$breakpoint-phablet: 640px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1024px;
$breakpoint-big: 1300px;

// Inner
$inner-max-width: 1080px;
$inner-max-width-smaller: 960px;

// Grid
$grid-gap: 60px !default;

// Slider slick [https://github.com/kenwheeler/slick/] - dot nav
$dotnav-bg-color: #fff;
$slick-opacity-on-hover: 1 !default;
$slick-dot-character: "" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.4 !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;

// Header
$header-height: 160px;
$header-height-small: 110px;
$header-height-fixed: 70px;
$logo-top-width: 217px;

// Mobile menu
$mobile-menu-width: 100%;
$menu-icon-width: 40px;

// Content
$content-header-height: 320px;