// Fonts
$font-main: arial, 'Helvetica Neue', 'Helvetica', sans-serif;

// Breakpoints
$breakpoint-phone: 400px;
$breakpoint-phablet: 640px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1024px;
$breakpoint-big: 1300px;