$block: 'footer__logo';

.#{$block} {
	width: 160px;
	height: 26px;
	margin-right: 10px;

	@include custom-breakpoint-max($breakpoint-tablet) {
		width: 200px;
		margin: 0 auto 35px auto;
	}
	img {
		width: 100%;
	}
}