$block: 'footer__designby';

.#{$block} {
	text-align: right;
	
	@include custom-breakpoint-max($breakpoint-tablet) {
		text-align: center;
	}
	a {
		width: 110px;
		height: 27px;
		display: inline-block;

		@include custom-breakpoint-max($breakpoint-tablet) {
			width: 140px;
		}

		img {
			width: 100%;
		}
	}
}