@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: block;
		line-height: 0px;
	}
	&:after {
		clear: both;
	}
}
@mixin navLinks($borderColor, $opacity) {
	border-color: rgba($borderColor, $opacity);
	border-style: solid;
	border-bottom-width: 1px;
}
@mixin centerMiddle(){
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	-moz-transform: translate(-50%, -50%);
		 -ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
				 transform: translate(-50%, -50%);
}