$block: 'inner';

.#{$block} {
  margin: 0 auto;
  max-width: $inner-max-width;

  &_smaller {
    max-width: $inner-max-width-smaller;
  }

  & > div:not(.button),
  & > ul {
    @include custom-breakpoint-max($inner-max-width + 20) {
      margin-left: 40px;
      margin-right: 40px;
    }
    @include custom-breakpoint-max($breakpoint-phablet) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}