$block: 'inner';

.#{$block} {
	margin: 0 auto;
	max-width: $inner-max-width;

	& > div:not(.button),
	& > ul {
		@include custom-breakpoint-max($inner-max-width + 20) {
			margin: 0px 40px;
		}
		@include custom-breakpoint-max($breakpoint-phablet) {
			margin: 0px 20px;
		}
	}
}