$block: 'text';

.#{$block} {
	&_center {
		text-align: center;
	}
	&_right {
		text-align: right;
	}
	&_uppercase {
		text-transform: uppercase;
	}
	&_em {
		font-weight: 400;
	}
	&_white {
		color: #fff;
	}
}