$block: 'slider__text-content';

.#{$block} {
	position: absolute;
	text-align: left;
	width: 70%;
	left: 50%;
	@include transform(translate, -50%, X);

	@include custom-breakpoint-max($breakpoint-phablet) {
		bottom: 30px;
		width: 80%;
  }
	@include custom-breakpoint-min-max($breakpoint-phablet, $breakpoint-desktop) {
		bottom: 60px;
		top: initial;
  }
	@include custom-breakpoint-min($breakpoint-desktop) {
		max-width: 550px;
		transform: none;
  }

	&_slide-01 {
		@include custom-breakpoint-min($breakpoint-desktop) {
			top: 55%;
			left: 40%;
			max-width: 500px;
	  }
	}
	&_slide-02 {
		@include custom-breakpoint-min($breakpoint-desktop) {
			top: 38%;
			left: 15%;
			max-width: 530px;
	  }
	}
	&_slide-03 {
		@include custom-breakpoint-min($breakpoint-desktop) {
			top: 45%;
			@include transform(translate, -50%, X);
	  }
	}
	&_slide-04 {
		@include custom-breakpoint-min($breakpoint-desktop) {
			top: 40%;
			left: 15%;
			max-width: 400px;
	  }
	}
	.slider__title {
		@include font-size(30);
		display: inline-block;
		font-family: $font-secondary;
		line-height: 1.0em;
		padding-bottom: 10px;

		@include custom-breakpoint-min($breakpoint-tablet) {
			@include font-size(40);
		}
		
		@include custom-breakpoint-min($breakpoint-desktop) {
			@include font-size(53);
		}

		&:after {
			content: "";
			height: 4px;
			background-color: #fff;
			display: block;
			width: 100%;
			position: relative;
			top: 4px;
		}
	}
	.slider__description {
		margin-top: 5px;
		margin-bottom: 15px;
		@include font-size(16);

		@include custom-breakpoint-min($breakpoint-desktop) {
			@include font-size(18);
			margin-bottom: 20px;
		}
	}
}