extends layout.pug

block title
  title Política de Cookies MatchTalent - Plataforma de empleo
  meta(
    name='content'
    description='Plataforma de empleo integrada con diferentes portales según el perfil de profesional que busque con posibilidad de entrevistar por videoconferencia.'
  )

block mobile-menu
  +menu-icon('mobile-menu__menu-icon')
  .inner
    ul.nav.mobile-menu__nav
      li.nav__item: a(href='./') Inicio
      li.nav__item: a(href='./ventajas.html') Ventajas
      li.nav__item: a(href='./precios.html') Precios
      li.nav__item: a(href='./portales.html') ​Portales de Empleo
      li.nav__item: a(href='./contacto.html') Contacto
      li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) Prueba gratuita
      
    //ul.nav-lang.mobile-menu__nav-lang
      li.nav-lang__item.nav-lang__item_highlighted Español
      li.nav-lang__item
        a(href='#') English
    
    .designby.mobile-menu__designby.grid__column
      p.text_xsmall Desarrollado por:
      a(
        href='http://www.memorandum.net'
        target='_blank'
      )
        +picture('/img/logo_memorandum.svg', 'Memorándum Multimedia')

block content
  header.header.text_white
    .inner
      +menu-icon('header__menu-icon no-desktop')
      .logo.header__logo
        a(href='./')
          +picture('/img/logo_matchtalent.svg', 'MatchTalent - Plataforma de empleo')
      ul.nav.header__nav.only-desktop
        li.nav__item: a(href='./ventajas.html') Ventajas
        li.nav__item: a(href='./precios.html') Precios
        li.nav__item: a(href='./portales.html') ​Portales de Empleo
        li.nav__item: a(href='./contacto.html') Contacto
        li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) Prueba gratuita

      //ul.nav-lang.header__nav-lang.only-desktop
        li.nav-lang__item.nav-lang__item_highlighted Español
        li.nav-lang__item: a(href='#') English

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_contacto.jpg')
    .inner
      .content-header__title
        h1 Uso de Cookies

  section.content-text.inner.inner_smaller.contacto.remove_margin-bottom
    .content-text__text
      p
        | Parte de los servicios personalizables de MatchTalent utilizan cookies. Una cookie es un archivo de texto muy pequeño que un servidor web puede guardar en el disco duro de un equipo para almacenar algún tipo de información sobre el usuario. Sólo puede ser leída por el sitio web que lo envió al equipo.
      p
        | Normalmente los sitios web utilizan las cookies para obtener información estadística sobre sus páginas web y analizar el comportamiento de sus clientes. Una cookie no es un archivo ejecutable ni puede propagar o contener un virus, y no puede tener una longitud superior a 4.000 caracteres.
      p
        | MatchTalent utiliza cookies con la exclusiva finalidad de elaborar estadísticas de utilización de su sitio web. La información que MatchTalent almacena en su equipo mediante este mecanismo consiste únicamente en un número que identifica a un usuario, además de preferencias como el idioma de navegación preferido y la fecha en la que se depositó la cookie. Esto permitirá reconocerle en sus próximas visitas a nuestro sitio web. No contiene ningún dato personal, ni información económica o de salud. 
      p
        | Usted puede configurar su navegador para aceptar, o no, las cookies que recibe o para que el navegador le avise cuando un servidor quiera guardar una cookie. Los procesos para controlar y eliminar cookies varían dependiendo del navegador que se utilice.
      p
        | MatchTalent también podrá registrar sus direcciones IP para diagnosticar cualquier problema con nuestro servidor, para administrar nuestra página web y/o para analizar las tendencias de los usuarios. 
      p
        | A continuación podrá encontrar detallados los diferentes tipos de cookies que utilizan las páginas de MatchTalent, con su nombre, fecha de expiración y finalidad.
        
      table
        tr
          th Nombre de la cookie
          th Gestión 
          th Tipo de cookie
          th Duración
          th Descripción
        tr
          td cookie_matchtalent
          td MatchTalent
          td Session
          td 1 mes
          td Se guardan sus preferencias de navegación
        tr
          td PHPSESSID
          td MatchTalent
          td Persistente
          td -
          td Asocia un identificador a un usuario con la aplicación PHP para todas aquellas variables almacenadas en sesión