extends layout.pug

block title
  title(translate='PAGE_TITLE')
  meta(
    name='content'
    description='Plataforma de empleo integrada con diferentes portales según el perfil de profesional que busque con posibilidad de entrevistar por videoconferencia.'
  )

block mobile-menu
  +menu-icon('mobile-menu__menu-icon')
  .inner
    ul.nav.mobile-menu__nav
      li.nav__item: a(href='./') Inicio
      li.nav__item: a(href='./ventajas.html') Ventajas
      li.nav__item: a(href='./precios.html') Precios
      li.nav__item: a(href='./portales.html') ​Portales de Empleo
      li.nav__item: a(href='./contacto.html') Contacto
      li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) Prueba gratuita

    //ul.nav-lang.mobile-menu__nav-lang
      li.nav-lang__item.nav-lang__item_highlighted Español
      li.nav-lang__item
        a(href='#') English
    
    .designby.mobile-menu__designby.grid__column
      p.text_xsmall Desarrollado por:
      a(
        href='http://www.memorandum.net'
        target='_blank'
      )
        +picture('/img/logo_memorandum.svg', 'Memorándum Multimedia')

block content
  header.header.text_white
    .inner
      +menu-icon('header__menu-icon no-desktop')
      .logo.header__logo
        a(href='./')
          +picture('/img/logo_matchtalent.svg', 'MatchTalent - Plataforma de empleo')

      ul.nav.header__nav.only-desktop
        li.nav__item: a(href='./ventajas.html') Ventajas
        li.nav__item: a(href='./precios.html') Precios
        li.nav__item: a(href='./portales.html') ​Portales de Empleo
        li.nav__item: a(href='./contacto.html') Contacto
        li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) Prueba gratuita

      //ul.nav-lang.header__nav-lang.only-desktop
        li.nav-lang__item.nav-lang__item_highlighted Español
        li.nav-lang__item: a(href='#') English
  
  section.hero.remove_margin-bottom
    .slider.text_white.hero__slider.text_center(data-slick!={"arrows": false, "dots": true, "dotsClass": "slider__dotnav", "lazyLoad": "progressive", "infinite": false})
      +slider-item(1, 'slide_01.jpg', 'Gestión de ofertas', 'Gestione sus ofertas de empleo y candidatos desde su propia web de la mano de los portales de empleo que elija.')
      +slider-item(2, 'slide_02.jpg', 'Ahorro de tiempo con la máxima difusión', 'Ahorre tiempo y dinero tenienido todos los currículos a un click (editar, eliminar, clasificar etc) recibidos desde cualqier portal de empleo.')
      +slider-item(3, 'slide_03.jpg', 'Proceso automatizado', 'Consiga que las ofertas y candidatos de cualquier portal de empleo lleguen a su web automaticamente.')
      +slider-item(4, 'slide_04.jpg', 'Entrevistas por videoconferencia', 'Gestione la agenda de entrevistas a candidatos y conózcalos a través de videoconferencia.')

  section.clients.text_center.remove_margin-top
    .inner
      .grid.grid_2-columns.grid_center.grid_width-auto.grid_items-center
        +clients-item('clientes_roommate.png', 'Room Mate Hotels')
        +clients-item('clientes_paradores.png', 'Paradores - Hoteles & Restaurantes 1928')

  section.why-matchtalent.inner.text_center
    h2.why-matchtalent__headline.text_uppercase
      | ¿Por qué matchtalent?
    .grid.grid_3-columns
      +why-matchtalent-item(
        '/img/optimize.svg',
        'Optimiza recursos',
        'El Departamento de RRHH dispondrá de una herramienta para gestionar Ofertas y Candidatos desde su propia Web, con el ahorro de tiempo que ello supone para todos los miembros del Departamento. Un portal de empleo dentro de su propia Web.',
        '/ventajas.html'
      )
      +why-matchtalent-item(
        '/img/magnifier.svg',
        'Mejores resultados',
        'Podrá trabajar todas sus ofertas de empleo de una manera fácil y sencilla, sin depender del elevado coste de un tercero, con un software pensado para optimizar todos los pasos de un proceso de selección.',
        '/ventajas.html'
      )
      +why-matchtalent-item(
        '/img/target.svg',
        'Mayor alcance',
        'Según el tipo de oferta de empleo que quiera lanzar, podremos difundirla entre uno o varios portales de empleo (Turijobs, Infoempleo, Buscaempleo, Ticjobs etc) y que sus candidatos más afines se multipliquen.',
        '/ventajas.html'
      )

  include inc/contact-with-us.pug

  section.solutions-for.inner
    h2.solutions-for__headline.text_center.text_uppercase
      span.solutions-for__arrow.solutions-for__arrow_bottom
        | Soluciones<br class="no-tablet" /> para
        span.solutions-for__arrow.solutions-for__arrow_left_right
    .grid.grid_3-columns
      +solution-for-item(
        'palm',
        'Sector turístico',
        'Nuestra integración con Turijobs.com nos permite disponer de la mejor solución a la hora de encontrar personal relacionado con hostelería. Cualquier candidato inscrito en esta Web estará a su disposición para cubrir cualquier vacante.'
      )
      +solution-for-item(
        'rack',
        'Sector tecnológico',
        'A través de Ticjobs podrá disponer en su plataforma del personal más cualificado en cuanto a perfiles tecnológicos se refiere.'
      )
      +solution-for-item(
        'knot',
        'Intersectorial',
        'Disponemos de integraciones con la mayoría de portales de empleo de internet (InfoJobs, Monster, InfoEmpleo, Trabajando, Laboris), así como con redes sociales (LinkedIn, Facebook, XING, Twitter) y otros focos de interés.'
      )

  section.features.text_white
    .inner
      h2.features__headline.text_center.text_uppercase.text_white
        | Ventajas de matchtalent
      .grid.grid_2-columns
        +features-item('Publica ofertas de empleo simultáneamente en múltiples portales de empleo con un solo clic, alcanzando la máxima difusión.')
        +features-item('Gestiona todos tus anuncios y ofertas de empleo desde un solo sitio web, reduciendo tiempos y optimizando el proceso de selección.')
        +features-item('Administra tu agenda de entrevistas a candidatos y facilita la conciliación horaria con los mismos.')
        +features-item('Conoce a tus candidatos mediante entrevista online, a través de videoconferencia, desde tu sitio web.')
        .features__button.button.button_inverse.text_center
          a(href='/ventajas.html') ver las ventajas

  section.partners.inner.text_center
    h2.partners__headline.text_center.text_uppercase
      | ​Portales de Empleo
    .grid.grid_flex.grid_center
      +partners(["/img/portal_buscarempleo.jpg", "/img/portal_ticjob.jpg", "/img/portal_monster.jpg", "/img/portal_infoempleo.jpg", "/img/portal_linkedinjobs.jpg", "/img/portal_xing.jpg", "/img/portal_disjob.jpg", "/img/portal_fjobs.jpg"])
    .button.partners__button
      a(href='/portales.html') ver todos portales
