<!DOCTYPE html>
<html>
<head>
	<title>MatchTalent - Plataforma de empleo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Plataforma de empleo integrada con diferentes portales según el perfil de profesional que busque con posibilidad de entrevistar por videoconferencia.">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<div class="temp-page text_white text_center">
		<div class="temp-page__content inner">
			<div class="temp-page__logo">
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/img/logo_matchtalent.svg" type="image/svg+xml">
					<!--[if IE 9]></video><![endif]-->
					<img srcset="/img/logo_matchtalent.png" alt="MatchTalent - Plataforma de empleo" title="MatchTalent - Plataforma de empleo" />
				</picture>
				
			</div>
			<h2 class="temp-page__title">Estamos trabajando para un MatchTalent más eficaz y eficiente. </h2>
			<div class="temp-page__text">
				<p>Disculpe las molestias.</p>
				<p>
					<a href="tel:0034876019922">(+34) 876 019 922</a><br/>
					<a href="mailto:comercial@memorandum.net">Correo electrónico</a>
				</p>
				<p class="only-phablet-landscape">Desarrollado por <a href="http://www.memorandum.net" target="_blank">Memorándum Multimedia</a></p>
			</div>
		</div>
		<div class="designby temp-page__designby grid__column">
			<p class="text_xsmall">Desarrollado por:</p>
			<a href="http://www.memorandum.net" target="_blank">
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source srcset="/img/logo_memorandum.svg" type="image/svg+xml">
					<!--[if IE 9]></video><![endif]-->
					<img srcset="/img/logo_memorandum.png" alt="Desarrollo Web y Márketing Online | Memorándum Multimedia" title="Desarrollo Web y Márketing Online | Memorándum Multimedia">
				</picture>
			</a>
		</div>
	</div>
</body>
</html>