<!DOCTYPE html>
<html>
<head>
	<title>MatchTalent</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<!--[if !IE]><!--><script src="/js/components.js"></script><!--<![endif]-->
	<!--[if IE 9]><!--><script src="/js/components.js"></script><!--<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="/css/no-flexbox.css">
		<script src="/js/components_ie.js"></script> 
		<script src="/js/legacy.js"></script> 
	<![endif]-->
</head>
<body>
	<div class="mobile-menu text_white" id="mobileMenu">
		<div class="mobile-menu__menu-icon menu-icon">
			<div class="menu-icon__content">
				<span class="menu-icon__line"></span>
				<span class="menu-icon__line"></span>
				<span class="menu-icon__line"></span>
			</div>
		</div>
		<div class="inner">
			<ul class="nav mobile-menu__nav">
				<li class="nav__item"><a href="./">Inicio</a></li> <!-- Opcional -->
				<li class="nav__item"><a href="/ventajas.html">Ventajas</a></li>
				<li class="nav__item"><a href="#">Precios</a></li>
				<li class="nav__item"><a href="#">Contacto</a></li>
				<li class="nav__item"><a href="#">Integraciones</a></li>
				<li class="nav__item nav__item_highlighted"><a href="#">Prueba gratuita</a></li>
			</ul>
			<ul class="nav-lang mobile-menu__nav-lang">
					<li class="nav-lang__item nav-lang__item_highlighted">Español</li>
					<li class="nav-lang__item"><a href="#">English</a></li>
				</ul>
			<div class="designby mobile-menu__designby grid__column">
				<p class="text_xsmall">Desarrollado por:</p>
				<a href="http://www.memorandum.net" target="_blank">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="/img/logo_memorandum.svg" type="image/svg+xml">
						<!--[if IE 9]></video><![endif]-->
						<img srcset="/img/logo_memorandum.png" alt="">
					</picture>
				</a>
			</div>
		</div>
	</div>

	<div class="content" id="mainContent">
		<header class="header text_white">
			<div class="inner">
				<div class="menu-icon header__menu-icon no-desktop">
					<div class="menu-icon__content">
						<span class="menu-icon__line"></span>
						<span class="menu-icon__line"></span>
						<span class="menu-icon__line"></span>
					</div>
				</div>

				<div class="logo header__logo">
					<a href="./">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/img/logo_matchtalent.svg" type="image/svg+xml">
							<!--[if IE 9]></video><![endif]-->
							<img srcset="/img/logo_matchtalent.png" alt="">
						</picture>
					</a>
				</div>

				<ul class="nav header__nav only-desktop">
					<li class="nav__item"><a href="./">Inicio</a></li> <!-- Opcional -->
					<li class="nav__item"><a href="/ventajas.html">Ventajas</a></li>
					<li class="nav__item"><a href="#">Precios</a></li>
					<li class="nav__item"><a href="#">Contacto</a></li>
					<li class="nav__item"><a href="#">Integraciones</a></li>
					<li class="nav__item nav__item_highlighted"><a href="#">Prueba gratuita</a></li>
				</ul>

				<ul class="nav-lang header__nav-lang only-desktop">
					<li class="nav-lang__item nav-lang__item_highlighted">Español</li>
					<li class="nav-lang__item"><a href="#">English</a></li>
				</ul>

				<!-- <div class="header__icon-call only-desktop">
					<a href="tel:123 456 789"><i class="fa fa-phone" aria-hidden="true"></i></a>
				</div> -->
			</div>

		</header>

		<section class="hero remove_margin-bottom">
			<div class="slider text_white hero__slider text_center" data-slick='{"arrows": false, "dots": true, "dotsClass": "slider__dotnav", "lazyLoad": "progressive", "infinite": false}'>
				<div class="slider__item">
					<div class="slider__image" data-img-src="slide_01.jpg"></div>
					<div class="slider__text-content slider__text-content_slide-01">
						<div class="slider__title">
							Gestión de ofertas
						</div>
						<div class="slider__description">
							Gestione sus ofertas de empleo y candidatos desde su propia web de la mano de los portales de empleo que elija.
						</div>
						<div class="slider__button button button_inverse">
							<a href="#" onclick='alert("SOLICITAR DEMO")'>Solicitar demo</a>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<div class="slider__image" data-img-src="slide_02.jpg"></div>
					<div class="slider__text-content slider__text-content_slide-02">
						<div class="slider__title">
							Ahorro de tiempo con la máxima difusión
						</div>
						<div class="slider__description">
							Ahorre tiempo y dinero tenienido todos los currículos a un click (editar, eliminar, clasificar etc) recibidos desde cualqier portal de empleo.
						</div>
						<div class="slider__button button button_inverse">
							<a href="#">Solicitar demo</a>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<div class="slider__image" data-img-src="slide_03.jpg"></div>
					<div class="slider__text-content slider__text-content_slide-03">
						<div class="slider__title">
							Proceso automatizado
						</div>
						<div class="slider__description">
							Consiga que las ofertas y candidatos de cualquier portal de empleo lleguen a su web automaticamente.
						</div>
						<div class="slider__button button button_inverse">
							<a href="#">Solicitar demo</a>
						</div>
					</div>
				</div>
				<div class="slider__item">
					<div class="slider__image" data-img-src="slide_04.jpg"></div>
					<div class="slider__text-content slider__text-content_slide-04">
						<div class="slider__title">
							Entrevistas por videoconferencia
						</div>
						<div class="slider__description">
							Gestione la agenda de entrevistas a candidatos y conózcalos a través de videoconferencia.
						</div>
						<div class="slider__button button button_inverse">
							<a href="#">Solicitar demo</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="clients text_center remove_margin-top">
			<div class="inner">
				<div class="grid grid_2-columns grid_center grid_width-auto grid_items-center">
					<div class="clients__item grid__column">
						<div class="grid grid grid_2-columns grid_center grid_width-auto grid_items-center">
							<div class="clients__logo grid__column">
								<img src="/img/clientes_roommate.png" alt="" title="" />
							</div>
							<div class="clients__name grid__column only-desktop">
								Room Mate Hotels
							</div>
						</div>
					</div>
					<div class="clients__item grid__column">
						<div class="grid grid grid_2-columns grid_center grid_width-auto grid_items-center">
							<div class="clients__logo grid__column">
								<img src="/img/clientes_paradores.png" alt="" title="" />
							</div>
							<div class="clients__name grid__column only-desktop">
								Paradores - Hoteles &amp; Restaurantes 1928
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="why-matchtalent inner text_center">
			<h2 class="why-matchtalent__headline text_uppercase">
				¿Por qué matchtalent?
			</h2>
			<div class="grid grid_3-columns">
				<div class="why-matchtalent__item grid__column">
					<div class="why-matchtalent__icon">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/img/optimize.svg" type="image/svg+xml">
							<!--[if IE 9]></video><![endif]-->
							<img srcset="/img/optimize.png" alt="">
						</picture>
					</div>
					<h3 class="why-matchtalent__title">
						Optimiza recursos
					</h3>
					<div class="why-matchtalent__description">
						El Departamento de RRHH dispondrá de una herramienta para gestionar Ofertas y Candidatos desde su propia Web, con el ahorro de tiempo que ello supone para todos los miembros del Departamento. Un portal de empleo dentro de su propia Web.
					</div>
					<div class="why-matchtalent__button button">
						<a href="#">más detalles</a>
					</div>
				</div>
				<div class="why-matchtalent__item grid__column">
					<div class="why-matchtalent__icon">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/img/magnifier.svg" type="image/svg+xml">
							<!--[if IE 9]></video><![endif]-->
							<img srcset="/img/magnifier.png" alt="">
						</picture>
					</div>
					<h3 class="why-matchtalent__title">
						Mejores resultados
					</h3>
					<div class="why-matchtalent__description">
						Podrá trabajar todas sus ofertas de empleo de una manera fácil y sencilla, sin depender del elevado coste de un tercero, con un software pensado para optimizar todos los pasos de un proceso de selección.
					</div>
					<div class="why-matchtalent__button button">
						<a href="#">más detalles</a>
					</div>
				</div>
				<div class="why-matchtalent__item grid__column">
					<div class="why-matchtalent__icon">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/img/target.svg" type="image/svg+xml">
							<!--[if IE 9]></video><![endif]-->
							<img srcset="/img/target.png" alt="">
						</picture>
					</div>
					<h3 class="why-matchtalent__title">
						Mayor alcance
					</h3>
					<div class="why-matchtalent__description">
						Según el tipo de oferta de empleo que quiera lanzar, podremos difundirla entre uno o varios portales de empleo (Turijobs, Infoempleo, Buscaempleo, Ticjobs etc) y que sus candidatos más afines se multipliquen.
					</div>
					<div class="why-matchtalent__button button">
						<a href="#">más detalles</a>
					</div>
				</div>
			</div>
		</section>

		<section class="contact-with-us text_white text_center">
			<div class="inner">
				<div class="contact-with-us__text">
					Contacta con nosotros <strong>987&nbsp;654&nbsp;321</strong> o solicita demo:
					<div class="contact-with-us__text_small text_em text_small">Sin contrato, sin obligación</div>
				</div>
				<div class="contact-with-us__button button button_inverse">
					<a href="#">solicitar demo</a>
				</div>
			</div>
		</section>

		<section class="solutions-for inner">
			<h2 class="solutions-for__headline text_center text_uppercase">
				<span class="solutions-for__arrow solutions-for__arrow_bottom">
					Soluciones<br class="no-tablet" /> para
					<span class="solutions-for__arrow solutions-for__arrow_left_right"></span>
				</span>
			</h2>
			<div class="grid grid_3-columns">
				<div class="solutions-for__item solutions-for__item_left grid__column">
					<h3 class="solutions-for__title solutions-for__title_icon-palm">
						Sector turístico
					</h3>
					<div class="solutions-for__description">
						Nuestra integración con Turijobs.com nos permite disponer de la mejor solución a la hora de encontrar personal relacionado con hostelería. Cualquier candidato inscrito en esta Web estará a su disposición para cubrir cualquier vacante.
					</div>
				</div>
				<div class="solutions-for__item solutions-for__item_middle grid__column">
					<h3 class="solutions-for__title solutions-for__title_icon-rack">
						Sector tecnológico
					</h3>
					<div class="solutions-for__description">
						A través de Ticjobs podrá disponer en su plataforma del personal más cualificado en cuanto a perfiles tecnológicos se refiere.
					</div>
				</div>
				<div class="solutions-for__item solutions-for__item_right grid__column">
					<h3 class="solutions-for__title solutions-for__title_icon-knot">
						Intersectorial
					</h3>
					<div class="solutions-for__description">
						Disponemos de integraciones con la mayoría de portales de empleo de internet (InfoJobs, Monster, InfoEmpleo, Trabajando, Laboris), así como con redes sociales (LinkedIn, Facebook, XING, Twitter) y otros focos de interés.
					</div>
				</div>
			</div>
		</section>

		<section class="features text_white">
			<div class="inner">
				<!-- <picture> -->
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<!-- <source srcset="/img/extralarge/inicio_ventajas_bg.jpg" media="(min-width: 1024px)">
					<source srcset="/img/large/inicio_ventajas_bg.jpg" media="(min-width: 640px)"> -->
					<!--[if IE 9]></video><![endif]-->
					<!-- <img srcset="/img/medium/inicio_ventajas_bg.jpg" alt="…">
				</picture> -->

				<h2 class="features__headline text_center text_uppercase text_white">
						Ventajas de matchtalent
				</h2>
				<div class="grid grid_2-columns">
					<div class="features__item grid__column">
						<div class="features__description features__description_icon-check">
							Publica ofertas de empleo simultáneamente en múltiples portales de empleo con un solo clic, alcanzando la máxima difusión.
						</div>
					</div>
					<div class="features__item grid__column">
						<div class="features__description features__description_icon-check">
							Gestiona todos tus anuncios y ofertas de empleo desde un solo sitio web, reduciendo tiempos
	y optimizando el proceso de selección.
						</div>
					</div>
					<div class="features__item grid__column">
						<div class="features__description features__description_icon-check">
							Administra tu agenda de entrevistas a candidatos y facilita la conciliación horaria con los mismos.
						</div>
					</div>
					<div class="features__item grid__column">
						<div class="features__description features__description_icon-check">
							Conoce a tus candidatos mediante entrevista online, a través de videoconferencia, desde tu sitio web.
						</div>
					</div>
					<div class="features__button button button_inverse text_center">
						<a href="/ventajas.html">ver las ventajas</a>
					</div>
				</div>
			</div>
		</section>

		<section class="partners inner text_center">
			<h2 class="partners__headline text_center text_uppercase">
				Partners
			</h2>
			<div class="grid grid_flex grid_center">
				<div class="partners__item grid__column">
					<a href="#" class="partners__logo"><img src="/img/portal_buscarempleo.jpg" alt="" /></a>
				</div>
				<div class="partners__item grid__column">
					<a href="#" class="partners__logo"><img src="/img/portal_ticjob.jpg" alt="" /></a>
				</div>
				<div class="partners__item grid__column">
					<a href="#" class="partners__logo"><img src="/img/portal_infoempleo.jpg" alt="" /></a>
				</div>
				<div class="partners__item grid__column">
					<a href="#" class="partners__logo"><img src="/img/portal_disjob.jpg" alt="" /></a>
				</div>
				<div class="partners__item grid__column">
					<a href="#" class="partners__logo"><img src="/img/portal_fjobs.jpg" alt="" /></a>
				</div>
				<div class="partners__item grid__column">
					<a href="#" class="partners__logo"><img src="/img/portal_trabajando.jpg" alt="" /></a>
				</div>
				<div class="partners__item grid__column">
					<a href="#" class="partners__logo"><img src="/img/portal_turijobs.jpg" alt="" /></a>
				</div>
			</div>
		</section>

		<footer class="footer text_white">
			<div class="inner">
				
				<div class="grid grid_space-between grid_nowrap grid_3-column footer__grid_3-column">
					<div class="logo footer__logo grid__column">
						<a href="./">
							<picture>
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="/img/logo_matchtalent.svg" type="image/svg+xml">
								<!--[if IE 9]></video><![endif]-->
								<img srcset="/img/logo_matchtalent.png" alt="">
							</picture>
						</a>
					</div>
					<div class="grid__column footer__links">
						<h4 class="footer__links-title only-phablet">MatchTalent <i class="fa fa-angle-down" aria-hidden="true"></i></i></h4>
						<ul class="nav footer__nav">
							<li class="nav__item"><a href="/ventajas.html">Ventajas</a></li>
							<li class="nav__item"><a href="#">Precios</a></li>
							<li class="nav__item"><a href="#">Contacto</a></li>
							<li class="nav__item"><a href="#">Intergraciones</a></li>
							<li class="nav__item nav__item_highlighted"><a href="#">Prueba gratuita</a></li>
							<li class="nav__item nav__item_highlighted"><a href="tel:987 654 321">Llamar 987 654 321</a></li>
							<li class="nav__item"><a href="#">Política de cookies</a></li>
							<li class="nav__item"><a href="#">Aviso legal</a></li>
						</ul>
					</div>
					<div class="footer__socialnet grid__column">
						<div class="footer__icon footer__icon_facebook">
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</div>
						<div class="footer__icon footer__icon_twitter">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div>
						<div class="footer__icon footer__icon_googleplus">
								<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
						</div>
						<div class="footer__icon footer__icon_instagram">
								<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>

				<div class="grid grid_2-columns footer__grid_2-column grid_flex-end">
					<div class="footer__copyright grid__column">
						Copyright &copy; MatchTalent, 2016. <br class="only-phablet" />All Rights Reserved.
					</div>
					<div class="designby footer__designby grid__column">
						<p class="text_xsmall">Desarrollado por:</p>
						<a href="http://www.memorandum.net" target="_blank">
							<picture>
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="/img/logo_memorandum.svg" type="image/svg+xml">
								<!--[if IE 9]></video><![endif]-->
								<img srcset="/img/logo_memorandum.png" alt="">
							</picture>
						</a>
					</div>
				</div>
			</div>
		</footer>

	</div>
<script src="/js/app.js"></script>
</body>
</html>