include inc/mixin.pug

doctype html
html(lang="es")
  head
    block title
      title #{COMMON.WEBSITE_NAME}
      meta(
        name='content'
        description= SEO.INICIO.DESCRIPTION
      )

    block head
      include inc/head.pug

  body
    #intro
      +picture('/img/logo_matchtalent_blue.svg', COMMON.WEBSITE_NAME)
    
    #mobileMenu.mobile-menu.text_white
      block mobile-menu
    #mainContent.content
      block content
      include inc/footer.pug
    block modals
      include inc/modal-prueba-gratuita.pug
    block footer-script
      include inc/cookies.pug
      script(src='/js/app.js', defer)